<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Estilos Propios -->
    <link href="/css/style.css" rel="stylesheet">

    <!-- Titulo -->
    <title> Digital Game </title>
</head>

<body>
    <div class="contenedor-header">
        <header>
            <!-- Menu Principal -->
            <div class="logo-container">
                <!-- Logo (Digital Game) -->
                <div class="logo-bar-container">
                    <div class="logo">
                        <img src="image/logo-digital-games.png" alt="logo">
                    </div>

                    <!-- Contenedor Barra de Busqueda -->
                    <div class="search-button-container">
                        <!-- Barra de Busqueda -->
                        <div class="search-container">
                            <input type="text" placeholder="BUSCAR">
                            <button><i class="fas fa-search"></i></button>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Menu Hamburgesa -->
            <div class="burguer-container">
                <div class="burger-menu">
                    <i class="fas fa-bars"></i>
                </div>
            </div>

            <!-- Lista De Opciones -->
            <div class="menu-container">
                <ul>
                    <li>Categorias </li>
                    <li>Marcas </li>
                    <li>Otros </li>
                    <li>Precios </li>
                </ul>
                <ul>
                    <li><a href="/register">REGISTRO
                    <li><a href="/login">INICIO DE SESION
                    <li><a href="#">CARRITO
                            <!-- Poner imagen carrito de compras -->
                </ul>
            </div>
        </header>
    </div>

    <!-- Carrito de compras -->
    <main>
        <!-- Contenedor Titulo -->
        <div class="Titulo">
        <section class="contenedor-titulo">
            <h3 class="titulo-carro">Carrito</h3>
        </section>
        <!-- Contenedor de articulos -->
        <section>
            <!-- Productos -->
            <article class="Producto">
                <div class="contenedor-imagen">
                    <img src="/image/products/call-of-duty.jpg" alt="imagen" class="imagen">
                </div>
                <!-- Descripcion -->
            <div class="contenedor-informacio-producto">
                <div class="contenedor-descripcion">
                    <h4 class="nombre">CALL OF DUTY
                    </h4>
                </div>
                <!-- Precio -->
                <div class="contenedor-precio">
                    <p class="precio-producto">$3500</p>
                </div>
                <!-- Cantidad de articulos -->
                <div class="contenedor-cantidad">
                    <input type="number" class="cantidad" value="1">
                </div>
            </div>
                <!--    Subtotal -->
                <div class="contenedor-subtotal">
                        <p class="precio-subtotal">$3500</p>
                </div>
                <!-- Contenedor Basura -->
                <div class="contenedor-basura ">
                    <button><a href="/carrtio"><i class="fa-solid fa-trash"></i></a></button>
                </div>             
            </article>
        </section>
        </div>
    </main>
</body>

</html>