<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- font -->
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap" rel="stylesheet">

    <!-- icons -->
    <script src="https://kit.fontawesome.com/439c181295.js" crossorigin="anonymous"></script>

    <!-- linkeo css  -->
    <link rel="stylesheet" href="/css/style.css">

    <title>Merco Liebre</title>
</head>

<body>
    <header>

        <div class="logo-container">
            <div class="logo-bar-container">
                <div class="logo">
                    <a href="/"> <img src="/img/logo-mercado-liebre.svg" alt="logo_mercado_liebre"></a>

                </div>
                <div class="search-button-container">
                    <div class="search-container">
                        <!-- placeholder es el texto que se muestra dentro de la barra de search -->
                        <input class="input-search" type="text" placeholder="  Buscar productos, marcas...">
                        <!-- boton de busqueda  -->
                        <button><i class="fas fa-search"></i></button>
                    </div>

                </div>


            </div>
            <div class="aceptamos-todas-las-tarjetas-container">
                <h2 class="card-title-aceptamos-tarjetas"><i class="fas fa-hand-holding-usd"></i> Comprá en cuotas y sin
                    tarjetas de creditos </h2>
            </div>
        </div>

        <div class="burguer-container">
            <div class="burger-menu">
                <i class="fas fa-bars"></i>

            </div>

        </div>

        <div class="menu-container">
            <ul type="none">
                <li><a href="#">Ofertas</a></li>
                <li><a href="#">Tiendas Oficiales</a></li>
                <li><a href="#">Vender</a></li>
                <li><a href="#">Ayuda</a></li>
            </ul>
            <ul type="none">
                <li><a href="/register">Creá tu cuenta <i class="fas fa-id-card"></i></li>
                <li><a href="/login">Ingresá <i class="fas fa-sign-in-alt"></i></a></li>
                <li><a href="#">Mis Compras <i class="fas fa-shopping-basket"></i></a></li>
            </ul>

        </div>

    </header>
    <div class="banner-home">
        <img src="/img/img-home-banner.jpg" alt="banner-home">
    </div>
    <!-- FORMULARIOS
    <form action="/crear-producto" method="POST" class="create-form">
        <div>
            <label for="">Nombre del producto</label>
            <input type="text" name="nombre" id="nombre">
        </div>
        <div>
            <label for="">Precio</label>
            <input type="text" name="precio" id="precio" placeholder="123.777">
        </div>
        <div>
            <label>Categoria:</label>
            <select name="categoria" id="categoria">
                <option value="Hogar">Hogar</option>
                <option value="Electro">Electro</option>
                <option value="Indumentaria">Indumentaria</option>


            </select>
        </div>
        <div>
            <label>Ciudad:</label>
            <select name="ciudad" id="ciudad">
                <option value="BuenosAires">Buenos Aires</option>
                <option value="Rosario">Rosario</option>
                <option value="Mendoza">Mendoza</option>


            </select>
        </div>
        <div>
            <label for="">Esta en oferta:</label>
            <input type="radio" name="oferta" id="oferta">
        </div>

        <div>
            <label for="descripcion">Descripcion:</label>
            <textarea name="descripcion" id="descripcion" cols="30" rows="10"></textarea>
        </div>
        <button type="submit">Guardar</button>
        <button type="reset">Borrar</button>

       
    </form>
        FIN FORMULARIO PRUEBA -->

    <main>

        <section class="container-h3-basado-en-tu-ultima-visita titulares">
            <h3 class="basado-en-tu-ultima-visita">Basado en tu ultima visita</h3>

            <div class="cards-conteiner">

                <div class="article-container">

                    <div class="img-container">
                        <img src="/img/img-cafetera-moulinex.jpg" alt="cafetera moulinex">
                    </div>

                    <div class="descripcion-container">
                        <i class="fas fa-truck icon-truck"></i>

                        <div class="precio-descuento-container">

                            <div class="precio-container prueba">
                                <p class="precio">$6.770</p>
                            </div>

                            <div class="descuento-container prueba">
                                <p class="descuento">40% OFF</p>
                            </div>


                        </div>

                        <div class="description-article">
                            <p class="description">Cafetera Moulinex</p>
                        </div>

                    </div>

                </div>
                <div class="article-container">

                    <div class="img-container">
                        <img src="/img/img-macbook-pro-2019.jpg" alt="MacBook Pro 2019">
                    </div>

                    <div class="descripcion-container">

                        <i class="fas fa-truck icon-truck"></i>

                        <div class="precio-descuento-container">

                            <div class="precio-container">
                                <p class="precio">$230.000</p>
                            </div>

                            <div class="descuento-container">
                                <p class="descuento">20% OFF</p>
                            </div>


                        </div>

                        <div class="description-article">
                            <p class="description">Macbook Pro 2019</p>
                        </div>

                    </div>

                </div>
                <div class="article-container">
                    <div class="img-container">
                        <img src="/img/img-samsung-galaxy-s10.jpg" alt="Samsung Galaxy S10">
                    </div>

                    <div class="descripcion-container">
                        <i class="fas fa-truck icon-truck"></i>

                        <div class="precio-descuento-container">

                            <div class="precio-container">
                                <p class="precio">$70.500</p>
                            </div>

                            <div class="descuento-container">
                                <p class="descuento">10% OFF</p>
                            </div>


                        </div>

                        <div class="description-article">
                            <p class="description">Samsung Galaxy S10</p>
                        </div>
                    </div>

                </div>
                <div class="article-container">
                    <div class="img-container">
                        <img src="/img/img-tv-samsung-smart.jpg" alt="SmartTv Samsung 43''">
                    </div>

                    <div class="descripcion-container">
                        <i class="fas fa-truck icon-truck"></i>

                        <div class="precio-descuento-container">

                            <div class="precio-container">
                                <p class="precio">$23.200</p>
                            </div>
                            <div class="descuento-container">
                                <p class="descuento">5% OFF</p>

                            </div>


                        </div>
                        <div class="description-article">
                            <p class="description">SmartTv Samsung 43"</p>

                        </div>
                    </div>

                </div>
            </div>
        </section>
        <section class="container-h3-ofertas titulares">
            <h3 class="Ofertas">Ofertas</h3>

            <div class="cards-conteiner">

                <div class="article-container">

                    <div class="img-container">
                        <img src="/img/img-cafetera-moulinex.jpg" alt="cafetera moulinex">
                    </div>

                    <div class="descripcion-container">
                        <i class="fas fa-truck icon-truck"></i>

                        <div class="precio-descuento-container">

                            <div class="precio-container">
                                <p class="precio">$6.770</p>
                            </div>

                            <div class="descuento-container">
                                <p class="descuento">40% OFF</p>
                            </div>


                        </div>

                        <div class="description-article">
                            <p class="description">Cafetera Moulinex</p>
                        </div>

                    </div>

                </div>
                <div class="article-container">

                    <div class="img-container">
                        <img src="/img/img-macbook-pro-2019.jpg" alt="MacBook Pro 2019">
                    </div>

                    <div class="descripcion-container">

                        <i class="fas fa-truck icon-truck"></i>

                        <div class="precio-descuento-container">

                            <div class="precio-container">
                                <p class="precio">$230.000</p>
                            </div>

                            <div class="descuento-container">
                                <p class="descuento">20% OFF</p>
                            </div>


                        </div>

                        <div class="description-article">
                            <p class="description">Macbook Pro 2019</p>
                        </div>

                    </div>

                </div>
                <div class="article-container">
                    <div class="img-container">
                        <img src="/img/img-samsung-galaxy-s10.jpg" alt="Samsung Galaxy S10">
                    </div>

                    <div class="descripcion-container">
                        <i class="fas fa-truck icon-truck"></i>

                        <div class="precio-descuento-container">

                            <div class="precio-container">
                                <p class="precio">$70.500</p>
                            </div>

                            <div class="descuento-container">
                                <p class="descuento">10% OFF</p>
                            </div>


                        </div>

                        <div class="description-article">
                            <p class="description">Samsung Galaxy S10</p>
                        </div>
                    </div>

                </div>
                <div class="article-container">
                    <div class="img-container">
                        <img src="/img/img-tv-samsung-smart.jpg" alt="SmartTv Samsung 43''">
                    </div>

                    <div class="descripcion-container">
                        <i class="fas fa-truck icon-truck"></i>

                        <div class="precio-descuento-container">

                            <div class="precio-container">
                                <p class="precio">$23.200</p>
                            </div>
                            <div class="descuento-container">
                                <p class="descuento">5% OFF</p>

                            </div>


                        </div>
                        <div class="description-article">
                            <p class="description">SmartTv Samsung 43"</p>

                        </div>
                    </div>

                </div>
            </div>
        </section>







    </main>
    <footer>
        <div class="conteiner-footer-items">
            <div class="icon-text-conteiner">
                <div>
                    <i class="fas fa-credit-card"></i><!-- /* icon credit card */ -->

                </div>
                <div>
                    <p class="cuerposDeTexto">Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo
                        en puntos de pago. <br> ¡Y siempre es seguro!</p>
                </div>

            </div>
            <div class="icon-text-conteiner">
                <div>
                    <i class="fas fa-gift"></i> <!-- icon regalo gift -->

                </div>
                <div>
                    <p class="cuerposDeTexto">Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles
                        de productos. Es un beneficio de Mercado Puntos.</p>
                </div>
            </div>
            <div class="icon-text-conteiner">
                <div>
                    <i class="fas fa-user-shield"></i><!-- icon usuario protegido usershield -->

                </div>
                <div>
                    <p class="cuerposDeTexto">¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
                        porque estás siempre protegid@.</p>

                </div>

            </div>

        </div>
        <p class="cuerposDeTexto">Copyright © 1999-2020 MercadoLiebre S.R.L.</p>


    </footer>



</body>

</html>