<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- font -->
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap" rel="stylesheet">

    <!-- icons -->
    <script src="https://kit.fontawesome.com/439c181295.js" crossorigin="anonymous"></script>

    <!-- linkeo css  -->
    <link rel="stylesheet" href="/css/style.css">

    <title>Merco Liebre</title>
</head>

<body>
    <header>

        <div class="logo-container">
            <div class="logo-bar-container">
                <div class="logo">
                    <a href="/"> <img src="/img/logo-mercado-liebre.svg" alt="logo_mercado_liebre"></a>

                </div>
                <div class="search-button-container">
                    <div class="search-container">
                        <!-- placeholder es el texto que se muestra dentro de la barra de search -->
                        <input class="input-search" type="text" placeholder="  Buscar productos, marcas...">
                        <!-- boton de busqueda  -->
                        <button><i class="fas fa-search"></i></button>
                    </div>

                </div>


            </div>
            <div class="aceptamos-todas-las-tarjetas-container">
                <h2 class="card-title-aceptamos-tarjetas"><i class="fas fa-hand-holding-usd"></i> Comprá en cuotas y sin
                    tarjetas de creditos </h2>
            </div>
        </div>

        <div class="burguer-container">
            <div class="burger-menu">
                <i class="fas fa-bars"></i>

            </div>

        </div>

        <div class="menu-container">
            <ul type="none">
                <li><a href="#">Ofertas</a></li>
                <li><a href="#">Tiendas Oficiales</a></li>
                <li><a href="#">Vender</a></li>
                <li><a href="#">Ayuda</a></li>
            </ul>
            <ul type="none">
                <li><a href="/register">Creá tu cuenta <i class="fas fa-id-card"></i></li>
                <li><a href="/login">Ingresá <i class="fas fa-sign-in-alt"></i></a></li>
                <li><a href="#">Mis Compras <i class="fas fa-shopping-basket"></i></a></li>
            </ul>

        </div>

    </header>
   
   
    <main>

        
    </main>
    <footer>
        <div class="conteiner-footer-items">
            <div class="icon-text-conteiner">
                <div>
                    <i class="fas fa-credit-card"></i><!-- /* icon credit card */ -->

                </div>
                <div>
                    <p class="cuerposDeTexto">Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo
                        en puntos de pago. <br> ¡Y siempre es seguro!</p>
                </div>

            </div>
            <div class="icon-text-conteiner">
                <div>
                    <i class="fas fa-gift"></i> <!-- icon regalo gift -->

                </div>
                <div>
                    <p class="cuerposDeTexto">Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles
                        de productos. Es un beneficio de Mercado Puntos.</p>
                </div>
            </div>
            <div class="icon-text-conteiner">
                <div>
                    <i class="fas fa-user-shield"></i><!-- icon usuario protegido usershield -->

                </div>
                <div>
                    <p class="cuerposDeTexto">¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
                        porque estás siempre protegid@.</p>

                </div>

            </div>

        </div>
        <p class="cuerposDeTexto">Copyright © 1999-2020 MercadoLiebre S.R.L.</p>


    </footer>



</body>

</html>