<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- font -->
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap" rel="stylesheet">

    <!-- icons -->
    <script src="https://kit.fontawesome.com/439c181295.js" crossorigin="anonymous"></script>

    <!-- linkeo css  -->
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/register.css">

    <title>Merco Liebre</title>
</head>

<body>
    <header>

        <div class="logo-container">
            <div class="logo-bar-container">
                <div class="logo">
                    <a href="/"> <img src="/img/logo-mercado-liebre.svg" alt="logo_mercado_liebre"></a>

                </div>
                <div class="search-button-container">
                    <form class="search-container">
                        <!-- placeholder es el texto que se muestra dentro de la barra de search -->
                        <input class="input-search" type="text" placeholder="  Buscar productos, marcas...">
                        <!-- boton de busqueda  -->
                        <button><i class="fas fa-search"></i></button>
                    </form>

                </div>


            </div>
            <div class="aceptamos-todas-las-tarjetas-container">
                <h2 class="card-title-aceptamos-tarjetas"><i class="fas fa-hand-holding-usd"></i> Comprá en cuotas y sin
                    tarjetas de creditos </h2>
            </div>
        </div>

        <div class="burguer-container">
            <div class="burger-menu">
                <i class="fas fa-bars"></i>

            </div>

        </div>

        <div class="menu-container">
            <ul type="none">
                <li><a href="#">Ofertas</a></li>
                <li><a href="#">Tiendas Oficiales</a></li>
                <li><a href="#">Vender</a></li>
                <li><a href="#">Ayuda</a></li>
            </ul>
            <ul type="none">
                <li><a href="/register">Creá tu cuenta <i class="fas fa-id-card"></i></li>
                <li><a href="/login">Ingresá <i class="fas fa-sign-in-alt"></i></a></li>
                <li><a href="#">Mis Compras <i class="fas fa-shopping-basket"></i></a></li>
            </ul>

        </div>

    </header>
    <div class="margen-para-header-fixed"> margin</div>


    <main>
        <!-- formulario register -->

        <div class="formulario-container">
            <form action="/">
                <div class="titulo-register-conteiner">
                    <label class="Titulo-register">Ingresa tus datos</label><br>

                </div>

                <label class="titulos-boxs" for="name">Nombre y apellido:</label><br>
                <input class="text-boxs" type="text" name="nombre-apellido" id="name"
                    placeholder="Ej. Florencio Perez"><br>

                <label class="titulos-boxs" for="usser">Nombre usuario</label><br>
                <input class="text-boxs" type="text" name="usser" id="usser" placeholder="Ej. Florperez56"><br>

                <label class="titulos-boxs" for="fechaNac">Fecha de nacimiento:</label><br>
                <input class="text-boxs" type="date" name="fechaNac" id="fechaNac"><br>

                <label class="titulos-boxs" for="domicilio">Domicilio:</label>
                <input class="text-boxs" type="text" name="domicilio" id="domicilio" placeholder="Ej. Cabred 1900"><br>

                <label class="titulos-boxs" for="perfil-usuario">Perfil de usuario <br>
                    <input type="radio" name="perfil-usuario" id="perfil-usuario" value="comprador">Comprador
                    <input type="radio" name="perfil-usuario" id="perfil-usuario" value="vendedor">Vendedor
                </label>


                <div class="checkbox">
                    <label class="titulos-boxs" for="categorias-de-intereses">Seleccione las categorias de su interes:
                    </label><br>
                    <div>
                        <input type="checkbox" value="Electro">Electro
                    </div>
                    <div>
                        <input type="checkbox" value="Moda">Moda
                    </div>
                    <div>
                        <input type="checkbox" value="Hogar">Hogar
                    </div>
                    <div>
                        <input type="checkbox" value="Juguetería">Juguetería
                    </div>
                    <div>
                        <input type="checkbox" value="Vida sana">Vida sana
                    </div>

                </div>

                <label class="titulos-boxs" for="img-usser">Seleccione una imagen para su perfil:</label><br>
                <div class="file-select">
                    <input class="file" type="file" name="img-usser" accept=".jpg, .png">
                </div>

                <label class="titulos-boxs" for="pass">Ingrese una contraseña:</label>
                <input class="text-boxs" type="password" name="pass" id="pass">

                <label class="titulos-boxs" for="pass-repeat">Confirme la contraseña:</label>
                <input class="text-boxs" type="password" name="pass-repeat" id="pass-repeat">
                <div class="buttons">

                    <!-- button limpiar o borrar formulario -->
                    <input class="button-reset" type="reset" name="reset" id="reset">
                    
                    <!-- button enviar -->
                    <input class="button-submit" type="submit" name="submit" id="submit-and-go-to-home">

                </div>
                <div class="redirec-login">
                    <div>
                        <label">Ya tienes una cuenta?</label>
                    </div>
                    <a class="link-inicia-sesion" href="/login">Inicia sesión</a>
                </div>





            </form>


        </div>

    </main>
    <footer>
        <div class="conteiner-footer-items">
            <div class="icon-text-conteiner">
                <div>
                    <i class="fas fa-credit-card"></i><!-- /* icon credit card */ -->

                </div>
                <div>
                    <p class="cuerposDeTexto">Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo
                        en puntos de pago. <br> ¡Y siempre es seguro!</p>
                </div>

            </div>
            <div class="icon-text-conteiner">
                <div>
                    <i class="fas fa-gift"></i> <!-- icon regalo gift -->

                </div>
                <div>
                    <p class="cuerposDeTexto">Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles
                        de productos. Es un beneficio de Mercado Puntos.</p>
                </div>
            </div>
            <div class="icon-text-conteiner">
                <div>
                    <i class="fas fa-user-shield"></i><!-- icon usuario protegido usershield -->

                </div>
                <div>
                    <p class="cuerposDeTexto">¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas
                        hacer,
                        porque estás siempre protegid@.</p>

                </div>

            </div>

        </div>
        <p class="cuerposDeTexto">Copyright © 1999-2020 MercadoLiebre S.R.L.</p>


    </footer>



</body>

</html>